/* Base
=================================================== */
/* ====================================================== */
/* MARGIN */
/* ====================================================== */
/* ====================================================== */
/* MARGIN X */
@import url("https://fonts.googleapis.com/css2?family=Puritan&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Muli:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");
.mx-5x {
  margin: 0px 5px !important; }

/* ====================================================== */
/* ====================================================== */
/* MARGIN Y */
.mb-10x {
  margin-bottom: 10px !important; }

/* ====================================================== */
/* ====================================================== */
/* MARGIN TOP */
/* ====================================================== */
/* ====================================================== */
/* MARGIN BOTTOM */
/* ====================================================== */
/* ====================================================== */
/* MARGIN RIGHT */
/* ====================================================== */
/* ====================================================== */
/* MARGIN LEFT */
/* ====================================================== */
/* ============================================================================================================== */
/* ====================================================== */
/* PADDING */
.p-10x {
  padding: 10px !important; }

/* ====================================================== */
/* ====================================================== */
/* PADDING X */
/* ====================================================== */
/* ====================================================== */
/* PADDING Y */
.py-10x {
  padding: 10px 0px !important; }

/* ====================================================== */
/* ====================================================== */
/* PADDING TOP */
.pt-40x {
  padding-top: 40px !important; }

/* ====================================================== */
/* ====================================================== */
/* PADDING BOTTOM */
/* ====================================================== */
/* ====================================================== */
/* PADDING RIGHT */
/* ====================================================== */
/* ====================================================== */
/* PADDING LEFT */
/* ====================================================== */
/* ============================================================================================================== */
/* ====================================================== */
/* LINE HIGHT */
/* ====================================================== */
/* ============================================================================================================== */
/* ====================================================== */
/* LINE SPACING */
.ls-1x {
  letter-spacing: 1px !important; }

.ls-2x {
  letter-spacing: 2px !important; }

.ls-3x {
  letter-spacing: 3px !important; }

/* ====================================================== */
/* ============================================================================================================== */
/* ====================================================== */
/* BORDER */
.br-50x {
  border-radius: 50% !important; }

.br-5x {
  border-radius: 5px !important; }

/* ====================================================== */
/* ===================== FONT FAMILY ====================== */
.font-muli {
  font-family: "Muli", sans-serif !important; }

.font-puritan {
  font-family: "Puritan", sans-serif !important; }

.font-heebo {
  font-family: 'Heebo', sans-serif !important; }

/* ===================== FONT SIZE ====================== */
.font-10x {
  font-size: 10px !important; }

.font-14x {
  font-size: 14px !important; }

.font-18x {
  font-size: 18px !important; }

.font-52x {
  font-size: 52px !important; }

.font-62x {
  font-size: 62px !important; }

/* ===================== FONT COLOR ====================== */
.clr-white {
  color: white !important; }

/* ===================== BACKGROUND COLOR ====================== */
.bg-white {
  background-color: white !important; }

/* layout
==================================================== */
.button-menu {
  width: 40px;
  height: 40px;
  margin: 28px 0px 0px 36px;
  cursor: pointer;
  transition: 0.7s;
  z-index: 99; }

.button-menu-show {
  margin-left: 328px; }

.line {
  width: 100%;
  height: 4px;
  margin: 8px 0px;
  transition: 0.3s; }
  .line:nth-child(3) {
    width: 30px; }

.line1-show {
  margin-top: 19px;
  transform: rotate(45deg); }

.line2-show {
  margin-top: -12px;
  transform: rotate(-45deg); }

.line3-show {
  display: none; }

.menu {
  opacity: 0;
  width: 0px;
  height: 100%;
  transition: 0.5s;
  background-color: rgba(2, 0, 116, 0.822);
  z-index: 98; }
  .menu ul {
    padding: 0;
    margin-top: 100px;
    transition: 0.2s; }
    .menu ul li {
      list-style: none;
      padding: 10px 0px; }
      .menu ul li a {
        font-size: 22px;
        text-decoration: none; }

.menu-show {
  opacity: 1;
  width: 400px; }

@media only screen and (max-width: 1024px) {
  .button-menu {
    width: 60px;
    height: 60px; }

  .line {
    height: 5px; }
    .line:nth-child(3) {
      width: 50px; }

  .menu li a {
    font-size: 24px !important; }

  .button-menu-show {
    margin-left: 310px; } }
@media only screen and (max-width: 768px) {
  .button-menu {
    width: 50px;
    height: 50px; }

  .line {
    height: 4px; }
    .line:nth-child(3) {
      width: 40px; }

  .button-menu-show {
    margin-left: 320px; } }
@media only screen and (max-width: 540px) {
  .menu li a {
    font-size: 20px !important; } }
@media only screen and (max-width: 414px) {
  .button-menu {
    width: 40px;
    height: 40px; }

  .line:nth-child(3) {
    width: 30px; }

  .menu-show {
    width: 100%; }

  .button-menu-show {
    margin-left: 340px; } }
@media only screen and (max-width: 375px) {
  .button-menu-show {
    margin-left: 300px; }

  .line {
    height: 3px; } }
@media only screen and (max-width: 360px) {
  .button-menu-show {
    margin-left: 290px; } }
@media only screen and (max-width: 320px) {
  .button-menu-show {
    margin-left: 250px; } }
body {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; }

h1, h2, h3, h4, h5, h6, p, span {
  margin: 0; }

.container-fluid {
  padding: 0px 150px !important; }

.row {
  width: 100% !important;
  min-height: 100vh !important;
  padding: 100px 0px !important;
  margin: 0 !important; }

.astronot {
  transform: translateY(-25%); }
  .astronot img {
    margin-left: 150px;
    transform: rotate(10deg);
    animation: astronot-img 10s infinite; }

@keyframes astronot {
  0% {
    transform: translate(50%, 70%); }
  25% {
    transform: translate(50%, 60%); }
  50% {
    transform: translate(50%, 70%); }
  75% {
    transform: translate(50%, 60%); }
  100% {
    transform: translate(50%, 70%); } }
@keyframes astronot-img {
  0% {
    transform: rotate(10deg); }
  25% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(10deg); }
  75% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(10deg); } }
@media only screen and (max-width: 1024px) {
  body {
    background-position: center !important; }

  .home h3 {
    font-size: 38px !important; }
  .home h1 {
    font-size: 72px !important; }
  .home span a i {
    font-size: 42px !important; }

  .astronot {
    transform: translateY(-15%); }
    .astronot img {
      width: 400px !important;
      margin-left: 200px; } }
@media only screen and (max-width: 768px) {
  .home h3 {
    font-size: 25px !important; }
  .home h1 {
    font-size: 62px !important; }
  .home span a i {
    font-size: 32px !important; }

  .astronot {
    transform: translateY(-10%); }
    .astronot img {
      width: 350px !important;
      margin-left: 120px; }

  .container-fluid {
    padding: 0px 50px !important; } }
@media only screen and (max-width: 540px) {
  .home h3 {
    font-size: 22px !important; }
  .home h1 {
    font-size: 42px !important; }
  .home span {
    margin: 0px 3px !important; }
    .home span a i {
      font-size: 26px !important; }

  .astronot {
    transform: translateY(-10%); }
    .astronot img {
      width: 300px !important;
      margin-left: 120px; }

  .container-fluid {
    padding: 0px 25px !important; } }
@media only screen and (max-width: 460px) {
  .home h3 {
    font-size: 20px !important; }

  .astronot {
    transform: translateY(10%); }
    .astronot img {
      width: 300px !important;
      margin-left: 30px; } }
@media only screen and (max-width: 420px) {
  .home h3 {
    text-align: center !important;
    font-size: 18px !important; }
  .home h1 {
    text-align: center !important; }
  .home .sosmed {
    text-align: center !important; }

  .astronot {
    position: relative !important;
    transform: translateY(0);
    text-align: center; }
    .astronot img {
      margin: 0; } }
@media only screen and (max-width: 375px) {
  .home h3 {
    font-size: 18px !important;
    letter-spacing: 0 !important; }
  .home h1 {
    font-size: 32px !important; }

  .astronot img {
    width: 250px !important; } }
@media only screen and (max-width: 360px) {
  .home h3 {
    font-size: 16px !important; } }

/*# sourceMappingURL=main.css.map */
