/* ====================================================== */
/* MARGIN */

/* ====================================================== */




/* ====================================================== */
/* MARGIN X */
.mx-5x{
    margin: 0px 5px !important;
}
/* ====================================================== */




/* ====================================================== */
/* MARGIN Y */
.mb-10x{
    margin-bottom: 10px !important;
}
/* ====================================================== */




/* ====================================================== */
/* MARGIN TOP */

/* ====================================================== */




/* ====================================================== */
/* MARGIN BOTTOM */

/* ====================================================== */




/* ====================================================== */
/* MARGIN RIGHT */

/* ====================================================== */




/* ====================================================== */
/* MARGIN LEFT */

/* ====================================================== */


/* ============================================================================================================== */


/* ====================================================== */
/* PADDING */
.p-10x{
    padding: 10px !important;
}
/* ====================================================== */




/* ====================================================== */
/* PADDING X */

/* ====================================================== */




/* ====================================================== */
/* PADDING Y */
.py-10x{
    padding: 10px 0px !important;
}
/* ====================================================== */





/* ====================================================== */
/* PADDING TOP */
.pt-40x{
    padding-top: 40px !important;
}
/* ====================================================== */




/* ====================================================== */
/* PADDING BOTTOM */

/* ====================================================== */



/* ====================================================== */
/* PADDING RIGHT */

/* ====================================================== */




/* ====================================================== */
/* PADDING LEFT */

/* ====================================================== */


/* ============================================================================================================== */


/* ====================================================== */
/* LINE HIGHT */

/* ====================================================== */


/* ============================================================================================================== */


/* ====================================================== */
/* LINE SPACING */
.ls-1x{
    letter-spacing: 1px !important;
}

.ls-2x{
    letter-spacing: 2px !important;
}

.ls-3x{
    letter-spacing: 3px !important;
}
/* ====================================================== */


/* ============================================================================================================== */


/* ====================================================== */
/* BORDER */
.br-50x{
    border-radius: 50% !important;
}

.br-5x{
    border-radius: 5px !important;
}
/* ====================================================== */
            