.button-menu {
    width: 40px;
    height: 40px;
    margin: 28px 0px 0px 36px;
    cursor: pointer;
    transition: 0.7s;
    z-index: 99;
}

.button-menu-show{
    margin-left: 328px;
}

.line {
    width: 100%;
    height: 4px;
    margin: 8px 0px;
    transition: 0.3s;
    &:nth-child(3) {
        width: 30px;
    }
}

.line1-show{
    margin-top: 19px;
    transform: rotate(45deg);
}

.line2-show{
    margin-top: -12px;
    transform: rotate(-45deg);
}

.line3-show{
    display: none;
}


.menu{
    opacity: 0;
    width: 0px;
    height: 100%;
    transition: 0.5s;
    background-color: rgba(2, 0, 116, 0.822);
    z-index: 98;
    ul{
        padding: 0;
        margin-top: 100px;
        transition: 0.2s;
        li{
            list-style: none;
            padding: 10px 0px;
            a{
                font-size: 22px;
                text-decoration: none;
            }
        }
    }
}

.menu-show{
    opacity: 1;
    width: 400px;
}

@media only screen and (max-width: 1024px){
    .button-menu {
        width: 60px;
        height: 60px;
    }

    .line {
        height: 5px;
        &:nth-child(3) {
            width: 50px;
        }
    }

    .menu li a{
        font-size: 24px !important;
    }

    .button-menu-show{
        margin-left: 310px;
    } 
}

@media only screen and (max-width: 768px){
    .button-menu {
        width: 50px;
        height: 50px;
    }

    .line {
        height: 4px;
        &:nth-child(3) {
            width: 40px;
        }
    }

    .button-menu-show{
        margin-left: 320px;
    } 
}

@media only screen and (max-width: 540px){
    .menu li a{
        font-size: 20px !important;
    }
}

@media only screen and (max-width: 414px){
    .button-menu {
        width: 40px;
        height: 40px;
    }

    .line {
        &:nth-child(3) {
            width: 30px;
        }
    }

    .menu-show{
        width: 100%;
    }

    .button-menu-show{
        margin-left: 340px;
    }
}

@media only screen and (max-width: 375px){
    .button-menu-show{
        margin-left: 300px;
    }

    .line {
        height: 3px;
    }
}

@media only screen and (max-width: 360px){
    .button-menu-show{
        margin-left: 290px;
    }
}

@media only screen and (max-width: 320px){
    .button-menu-show{
        margin-left: 250px;
    }
}

